---
import { ClientRouter } from "astro:transitions";
import Profile from "../components/astro/Profile.astro";
import Aurora from "../components/react/ui/Aurora";
import "../styles/global.css";

const nameTitleText: string = "Caio Mayan";

const {
  textRole,
  textDescription,
  textUpdatedOn,
  dateLastUpdated,
  metaLang,
  lang,
} = Astro.props;
---

<html class="font-sans antialiased" lang={metaLang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" hreflang="en" href="https://caiomayan.com/" />
    <link rel="alternate" hreflang="pt" href="https://caiomayan.com/pt/" />
    <link rel="alternate" hreflang="x-default" href="https://caiomayan.com/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={textDescription} />
    <title>{nameTitleText}</title>
    <ClientRouter />
  </head>
  <body class="bg-bg text-text relative flex">
    <div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden">
      <Aurora
        colorStops={["#080808", "#4b4b4b", "#000000"]}
        blend={0.5}
        amplitude={1.0}
        speed={1}
        client:load
      />
    </div>

    <div
      class="mx-auto flex w-full flex-col gap-5 px-12.5 lg:flex-row lg:gap-35 lg:px-30"
    >
      <Profile
        textRole={textRole}
        textDescription={textDescription}
        textUpdatedOn={textUpdatedOn}
        dateLastUpdated={dateLastUpdated}
        lang={lang}
      />
      <main class="gap-10 min-h-0 min-w-0 flex-1 flex flex-col pb-15 md:py-20">
        <slot />
      </main>
    </div>
  </body>
</html>
