---
import { ClientRouter } from "astro:transitions";
import Profile from "../components/astro/Profile.astro";
import Aurora from "../components/Aurora";
import "../styles/global.css";

const nameTitleText: string = "Caio Mayan";

const {
  textRole,
  textDescription,
  textCurriculum,
  textUpdatedOn,
  dateLastUpdated,
  textOr,
  metaLang,
  lang,
} = Astro.props;
---

<html lang={metaLang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" hreflang="en" href="https://caiomayan.com/" />
    <link rel="alternate" hreflang="pt" href="https://caiomayan.com/pt/" />
    <link rel="alternate" hreflang="x-default" href="https://caiomayan.com/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={textDescription} />
    <title>{nameTitleText}</title>
    <ClientRouter />
  </head>
  <body class="bg-bg text-text font-sans relative antialiased">
    <div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden">
      <Aurora
        colorStops={["#080808", "#4b4b4b", "#000000"]}
        blend={0.5}
        amplitude={1.0}
        speed={1}
        client:load
      />
    </div>

    <div class="relative z-10 mx-auto min-h-screen px-40">
      <Profile
        textRole={textRole}
        ,
        textDescription={textDescription}
        ,
        textCurriculum={textCurriculum}
        ,
        textUpdatedOn={textUpdatedOn}
        ,
        dateLastUpdated={dateLastUpdated}
        ,
        textOr={textOr}
        ,
        lang={lang}
      />
      <slot />
    </div>
  </body>
</html>
